@model GameViewModel

@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name='viewport' content='width=device-width, initial-scale=1.0'>
	<link rel="stylesheet" media="all" type="text/css" href="../assets/sudokuJS.css">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		  integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<style type="text/css">
		html,
		body {
			background-color: #abe4fc;
		}

		table {
			border: 2px solid #000000;
		}

		td {
			border: 1px solid #000000;
			text-align: center;
			vertical-align: middle;
		}

		input {
			color: #000000;
			padding: 0;
			border: 0;
			text-align: center;
			width: 48px;
			height: 48px;
			font-size: 24px;
			background-color: #FFFFFF;
			outline: none;
		}

			input:disabled {
				background-color: #EEEEEE;
			}

		#cell-0,
		#cell-1,
		#cell-2 {
			border-top: 2px solid #000000;
		}

		#cell-2,
		#cell-11,
		#cell-20 {
			border-right: 2px solid #000000;
		}

		#cell-18,
		#cell-19,
		#cell-20 {
			border-bottom: 2px solid #000000;
		}

		#cell-0,
		#cell-9,
		#cell-18 {
			border-left: 2px solid #000000;
		}

		#cell-3,
		#cell-4,
		#cell-5 {
			border-top: 2px solid #000000;
		}

		#cell-5,
		#cell-14,
		#cell-23 {
			border-right: 2px solid #000000;
		}

		#cell-21,
		#cell-22,
		#cell-23 {
			border-bottom: 2px solid #000000;
		}

		#cell-3,
		#cell-12,
		#cell-21 {
			border-left: 2px solid #000000;
		}

		#cell-6,
		#cell-7,
		#cell-8 {
			border-top: 2px solid #000000;
		}

		#cell-8,
		#cell-17,
		#cell-26 {
			border-right: 2px solid #000000;
		}

		#cell-24,
		#cell-25,
		#cell-26 {
			border-bottom: 2px solid #000000;
		}

		#cell-6,
		#cell-15,
		#cell-24 {
			border-left: 2px solid #000000;
		}

		#cell-27,
		#cell-28,
		#cell-29 {
			border-top: 2px solid #000000;
		}

		#cell-29,
		#cell-38,
		#cell-47 {
			border-right: 2px solid #000000;
		}

		#cell-45,
		#cell-46,
		#cell-47 {
			border-bottom: 2px solid #000000;
		}

		#cell-27,
		#cell-36,
		#cell-45 {
			border-left: 2px solid #000000;
		}

		#cell-30,
		#cell-31,
		#cell-32 {
			border-top: 2px solid #000000;
		}

		#cell-32,
		#cell-41,
		#cell-50 {
			border-right: 2px solid #000000;
		}

		#cell-48,
		#cell-49,
		#cell-50 {
			border-bottom: 2px solid #000000;
		}

		#cell-30,
		#cell-39,
		#cell-48 {
			border-left: 2px solid #000000;
		}

		#cell-33,
		#cell-34,
		#cell-35 {
			border-top: 2px solid #000000;
		}

		#cell-35,
		#cell-44,
		#cell-53 {
			border-right: 2px solid #000000;
		}

		#cell-51,
		#cell-52,
		#cell-53 {
			border-bottom: 2px solid #000000;
		}

		#cell-33,
		#cell-42,
		#cell-51 {
			border-left: 2px solid #000000;
		}

		#cell-54,
		#cell-55,
		#cell-56 {
			border-top: 2px solid #000000;
		}

		#cell-56,
		#cell-65,
		#cell-74 {
			border-right: 2px solid #000000;
		}

		#cell-72,
		#cell-73,
		#cell-74 {
			border-bottom: 2px solid #000000;
		}

		#cell-54,
		#cell-63,
		#cell-72 {
			border-left: 2px solid #000000;
		}

		#cell-57,
		#cell-58,
		#cell-59 {
			border-top: 2px solid #000000;
		}

		#cell-59,
		#cell-68,
		#cell-77 {
			border-right: 2px solid #000000;
		}

		#cell-75,
		#cell-76,
		#cell-77 {
			border-bottom: 2px solid #000000;
		}

		#cell-57,
		#cell-66,
		#cell-75 {
			border-left: 2px solid #000000;
		}

		#cell-60,
		#cell-61,
		#cell-62 {
			border-top: 2px solid #000000;
		}

		#cell-62,
		#cell-71,
		#cell-80 {
			border-right: 2px solid #000000;
		}

		#cell-78,
		#cell-79,
		#cell-80 {
			border-bottom: 2px solid #000000;
		}

		#cell-60,
		#cell-69,
		#cell-78 {
			border-left: 2px solid #000000;
		}
	</style>
	<title>Game | Sudoku.az</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		  integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
		  integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
		  crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
		  integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
			integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
			crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
			crossorigin="anonymous"></script>
	<script type="text/javascript" src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
	<script src="https://kit.fontawesome.com/0b9251f986.js" crossorigin="anonymous"></script>
	<script type="text/javascript" src="../assets/sudokuJS.js"></script>
</head>

<body style="background-color: #abe4fc;">

	<style>
		input[type="number"]::-webkit-inner-spin-button,
		input[type="number"]::-webkit-outer-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}
	</style>


	<h4>Game Mode : @ViewBag.Mode  </h4>
	<div class="d-flex justify-content-center container" id="sure" style="font-size:20px; line-height:10px"></div>
	<div class="d-flex justify-content-center container">
		<div><h4 class="timer" id="timerarea" style="margin-right:15px">0:00</h4></div>
		<button id="pauseButton" class="btn btn-secondary"><i class="fas fa-pause"></i></button>
		<button id="resumeButton" class="btn btn-success"><i class="fas fa-play"></i></button>
	</div>
	<div class="d-flex justify-content-center container">
		<table id="grid" style="margin-top: 20px;z-index:0;">
			@{
				int count = 0;
				@for (int row = 0; row < 9; row++)
				{
					<tr>
						@for (int col = 0; col < 9; col++)
						{
							<td><input class="myInput" id="cell-@count" type="number" min="1" max="9" data-id="@count" data-row="@row" data-col="@col" value="@Model.Matrix[row,col]"></td>
							count = count + 1;
						}
					</tr>
				}
			}
		</table>

		<div class="card text-center col-md-6 mb-5" id="card" style="background-color: #000000;display:none;">
			<div class="circle-image">
				<img src="../assets/images/gameOver.jpeg" width="250" height="150">
			</div>
			<div class="rate bg-primary py-3 text-white mt-3">
				<h3> <p class="timer"></p></h3>
				<h3 id="score"></h3>
				<div class="rating justify-content-center">
					<label id="star1" style="font-size: 50px;"><strong>&#11088</strong></label>
					<label id="star2" style="font-size: 50px;"><strong>&#11088</strong></label>
					<label id="star3" style="font-size: 50px;"><strong>&#11088</strong></label>
				</div>
				<div class="buttons px-4 mt-0">
					<button type="submit" id="btnpost" class="btn btn-warning btn-block rating-submit" style="height: 50px;">OK</button>
				</div>
			</div>
		</div>

		@{
			// C# matrisini JSON formatına dönüştürme
			string jsonMatrix = Newtonsoft.Json.JsonConvert.SerializeObject(Model.FullMatrix);
		}





		<script src="~/assets/jquery.js"></script>
		<script src="~/assets/jquery.min.js"></script>

		<script>
			//input validation
			for (i = 0; i < 81; i++) {
				var val = document.querySelector('#cell-' + i)
				if (val.value != "0") {
					val.disabled = true;
				}
				if (val.value == "0") {
					val.value = "";
				}
			}
			$('.myInput').keyup(function () {
				let val = $(this).val();
				if (val > 9 || val < 1) {
					$(this).val('');
				}
			})
			//end validation



			//start timer
			var timerElements = document.getElementsByClassName('timer');
			var pauseButton = document.getElementById('pauseButton');
			var resumeButton = document.getElementById('resumeButton');
			var table = document.getElementById('grid');
			var startTime, elapsedTime;
			var timerInterval;

			startTimer();
			pauseButton.addEventListener('click', pauseTimer);
			resumeButton.addEventListener('click', resumeTimer);

			function startTimer() {
				startTime = Date.now() - (elapsedTime || 0);
				timerInterval = setInterval(updateTimer, 1000);
				pauseButton.style.display = "block";
				resumeButton.style.display = "none";
			}

			function pauseTimer() {
				clearInterval(timerInterval);
				elapsedTime = Date.now() - startTime;
				pauseButton.style.display = "none";
				table.style.display = "none";
				resumeButton.style.display = "block";
			}

			function resumeTimer() {
				startTime = Date.now() - elapsedTime;
				timerInterval = setInterval(updateTimer, 1000);
				pauseButton.style.display = "block";
				resumeButton.style.display = "none";
				table.style.display = "block";
			}

			function updateTimer() {
				var seconds = Math.floor((Date.now() - startTime) / 1000);
				var minutes = Math.floor(seconds / 60);
				seconds = seconds % 60;
				timerElements[0].textContent = minutes + ':' + (seconds < 10 ? '0' : '') + seconds;
				timerElements[1].textContent = minutes + ':' + (seconds < 10 ? '0' : '') + seconds;
			}
			//end timer


			//game
			var failed = 0;
			function endGame() {
				pauseTimer();
				document.querySelector('#grid').style.display = "none";
				document.querySelector('#timerarea').style.display = "none";
				document.querySelector('#pauseButton').style.display = "none";
				document.querySelector('#resumeButton').style.display = "none";
				document.querySelector('#card').style.display = "block";
				var star = 0, score = 0;
				var mode = "@ViewBag.Mode";
				if (failed == 1)
					star = 2;
				if (failed == 2)
					star = 1;
				if (failed == 0)
					star = 3;
				if (failed == 3) {
					if (mode == "easy") { score = -15 }
					if (mode == "medium") { score = -25 }
					if (mode == "hard") { score = -35 }
					if (mode == "expert") { score = -50 }
					if (mode == "evil") { score = -65 }
				}
				if (mode == "easy") {
					if (star == 1)
						score = 10;
					if (star == 2)
						score = 20;
					if (star == 3)
						score = 30;
				}
				if (mode == "medium") {
					if (star == 1)
						score = 20;
					if (star == 2)
						score = 30;
					if (star == 3)
						score = 40;
				}
				if (mode == "hard") {
					if (star == 1)
						score = 35;
					if (star == 2)
						score = 45;
					if (star == 3)
						score = 55;
				}
				if (mode == "expert") {
					if (star == 1)
						score = 50;
					if (star == 2)
						score = 60;
					if (star == 3)
						score = 70;
				}
				if (mode == "evil") {
					if (star == 1)
						score = 55;
					if (star == 2)
						score = 65;
					if (star == 3)
						score = 80;
				}


				$("#btnpost").click(function () {
					$.ajax({
						url: '/home/gamepost',
						type: 'POST',
						data: {
							star: star,
							score: score,
						},
						success: function (result) {
							console.log(result)
						}
					});
					console.log(star, score);
				})


				document.querySelector('#score').textContent = "Score: " + score;
			}


			$('.myInput').keyup(function (e) {
				var keyCode = e.keyCode;
				if (keyCode >= 49 && keyCode <= 57 || keyCode >= 97 && keyCode <= 105) {
					let id = $(this).data('id');

					var inp = document.querySelector("#cell-" + id);
					var row = $(this).data('row');
					var col = $(this).data('col');
					var value = $('#cell-' + id).val();

					var matrix = @Html.Raw(jsonMatrix);
					var count = 0;
					if (value == matrix[row][col]) {
						inp.style.backgroundColor = "#60ee88"
					}
					else {
						inp.style.backgroundColor = "#ee6460"
						failed++;
						count = 82;
					}
					if (failed == 3) {
						document.querySelector("#star1").style.display = "none";
						document.querySelector("#star2").style.display = "none";
						document.querySelector("#star3").style.display = "none";
						endGame();
					}

					var input = document.getElementsByClassName("myInput");
					for (var i = 0; i < 81; i++) {
						if (input[i].value != "") {
							count++;
						}
					}
					if (failed < 3 && count == 81) {
						if (failed == 1) {
							document.querySelector("#star3").style.display = "none";
						}
						if (failed == 2) {
							document.querySelector("#star3").style.display = "none";
							document.querySelector("#star2").style.display = "none";
						}
						endGame();
					}
					else { count = 0 }
				}
			})
																				//end game

		</script>


	</div>
</body>

</html>
