@{
	Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>

<body>
	<style>
		*,
		::before,
		::after {
			font-family: 'Roboto', sans-serif;
			box-sizing: border-box;
			margin: 0;
		}

		:root {
			--spacing: 8px;
			--hue: 400;
			--background1: hsl(214, 78%, 53%);
			--background2: hsl(214, 14%, 13%);
			--background3: hsl(214, 14%, 5%);
			--brand1: hsl(var(--hue) 80% 60%);
			--text1: hsl(0, 0%, 100%);
			--text2: hsl(0, 0%, 90%);
		}

		code {
			background: var(--background3);
		}

		body {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			min-height: 100vh;
			background: var(--background1);
			flex-gap: var(--spacing);
			color: var(--text1);
			gap: var(--spacing);
			padding: calc(var(--spacing) * 2);
			font-size: 1.5rem;
		}


		a {
			color: var(--brand1);
			text-decoration: none;
		}

		.number-code {
			overflow: auto;
		}

		.content-area {
			display: flex;
			flex-direction: column;
			gap: calc(var(--spacing) * 2);
			background: var(--background2);
			padding: var(--spacing);
			border-radius: var(--spacing);
			max-width: min(100%, 50rem);
		}

		form {
			background-color: grey;
			.code-input

		{
			font-size: 1.5em;
			width: 3em;
			height: 2em;
			text-align: center;
			flex: 1 0 1em;
		}

		.submitbtn {
			margin-left: auto;
			display: block;
			font-size: 1em;
			width: 30pxS;
			cursor: pointer;
			transition: all cubic-bezier(0.4, 0.0, 0.2, 1) .1s;
		}

		.code-input {
			padding: var(--spacing);
			border-radius: calc(var(--spacing) / 2);
			color: var(--text1);
			background: var(--background1);
			border: 0;
			border: 4px solid transparent;
			&:invalid

		{
			box-shadow: none;
		}

		&:focus {
			outline: none;
			border: 4px solid var(--brand1);
			background: var(--background3);
		}

		}
		}
	</style>
	<form onsubmit="onSubmit(event)" class="content-area">
		<h4>Verify Code</h4>
		<fieldset class='number-code'>
			<legend>Security Code</legend>
			<div>
				<input name='code' class='code-input' required />
				<input name='code' class='code-input' required />
				<input name='code' class='code-input' required />
				<input name='code' class='code-input' required />
				<input name='code' class='code-input' required />
				<input name='code' class='code-input' required />
			</div>
		</fieldset>
		<button type="submit" class="submitbtn" id="submitButton" value="Submit">Submit</button>
	</form>

	<script>
		const inputElements = [...document.querySelectorAll('input.code-input')]

		inputElements.forEach((ele, index) => {
			ele.addEventListener('keydown', (e) => {
				if (e.keyCode === 8 && e.target.value === '') inputElements[Math.max(0, index - 1)].focus()
			})
			ele.addEventListener('input', (e) => {
				const [first, ...rest] = e.target.value
				e.target.value = first ?? ''
				const lastInputBox = index === inputElements.length - 1
				const didInsertContent = first !== undefined
				if (didInsertContent && !lastInputBox) {
					inputElements[index + 1].focus()
					inputElements[index + 1].value = rest.join('')
					inputElements[index + 1].dispatchEvent(new Event('input'))
				}
			})
		})

		var code = "";
		function onSubmit(e) {
			e.preventDefault()
			code = inputElements.map(({ value }) => value).join('')
		}

		$("#submitButton").click(function () {
			$.ajax({
				url: '/auth/Verification',
				type: 'POST',
				data: {
					//code = code,
					//username = @Model.Username,
					//email = @Model.Email,
					//photo = @Model.Image,
					//phone = @Model.Phone,
					//password = @Model.Password
				},
				success: function (response) {
					console.log(code);
				}
			});
		});

	</script>
</body>

</html>

